name: Generate Snake

on:
  schedule:
    # 每天UTC时间0点运行
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: yoshi389111/github-contribution-snake@v0.2
        with:
          # 可选：gif_out_path: dist/github-contribution-snake.gif
          svg_out_path: dist/github-contribution-snake.svg

      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          # 可选：保留文件，如果你想保留多个文件，可以设置为true
          keep_files: false
